technical-documentation/evidence/artifacts/**/*.log -text whitespace=-trailing-space
technical-documentation/evidence/artifacts/**/*.txt -text whitespace=-trailing-space
technical-documentation/evidence/artifacts/**/*.xml -text whitespace=-trailing-space
technical-documentation/evidence/artifacts/**/*.png binary
technical-documentation/evidence/artifacts/E-025/*-metadata.txt whitespace=-trailing-space
technical-documentation/media/screenshots/*.png binary
*.xlsx binary
